body {
 background: #fff;
 color: #000;
 }

.app h3 {
	color: #000000;
	background-color: #FFCC00;
	border-top: none #003366;
	border-right: 1px outset #003366;
	border-bottom: 1px outset #003366;
	border-left: none #003366;

 }

.app h4 {
 color: #fff;
 background-color: #888;
 }

.a td { 
 background: #ddd;
 color: #000;
 }

.b td { 
 background: #efefef;
 color: #000;
 }

.app th {
 background-color: #bbb;
 color: #fff;
 }

div#banner {
 border-top: 1px solid #369;
 border-bottom: 1px solid #003;
 }

#banner, #banner td { 
 background: #FFFFFF;
 color: #fff;
 }

#leftcol {
 background: #D9DBE1;
 color: #000;
 border-right: 1px solid #aaa;
 border-bottom: 1px solid #aaa;
 border-top: 1px solid #fff;
 width:140px;
}

#navcolumn {
 background: #D9DBE1;
 color: #000;
 margin-top: 10px;
 border-right: none;
 border-bottom: none;
 border-top: none;
 line-height: 15px;
 width:140px;
 }

#breadcrumbs {
 background-color: #D9DBE1;
 color: #000;
 border-top: 1px solid #fff;
 border-bottom: 1px solid #aaa;
 }

#source {
 background-color: #fff;
 color: #000;
 border-right: 1px solid #888; 
 border-left: 1px solid #888; 
 border-top: 1px solid #888; 
 border-bottom: 1px solid #888; 
 margin-right: 7px;
 margin-left: 7px;
 margin-top: 1em;
 }

#source pre {
 margin-right: 7px;
 margin-left: 7px;
 }

a[name]:hover, #leftcol a[name]:hover {
 color: #000000!important;
 }

a:link, #breadcrumbs a:visited, #navcolumn a:visited, .app a:visited, .tasknav a:visited {
 color: #000000;
 }

a:active, a:hover, #leftcol a:active, #leftcol a:hover {
 color: #f30 !important;
 }

a:link.selfref, a:visited.selfref {
 color: #555 !important;
 }

h3, h4 {
 margin-top: 1em;
 margin-bottom: 0;
 }
 
img.handle {
 border: 0;
 padding-right: 5px;
}
 
.poweredBy {
	margin-top: 20px;
	width: 100%;
}
