<?xml version="1.0" encoding="UTF-8"?>

<!-- 
===============================================================
 Plugin to create Hibernate Mapping Files

 Copyright (C) 2003 Anthony Smith
===============================================================

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
=============================================================== 
-->

<plugin identifier="schemageneration" model_class="opendbcopy.plugin.schemageneration.model.SchemagenerationModel">
	<conf>
		<!-- path may be relative or absolute -->
		<dir required="true" value="plugins/opendbcopy.schemageneration/hbm" type="dir" description="plugin.opendbcopy.schemageneration.conf.outputDir" />	
		<package_name required="true" value="schema" type="string" description="plugin.opendbcopy.schemageneration.conf.packageName" />
		<hibernate_dialect required="true" value="" type="hibernate_dialect" description="plugin.opendbcopy.schemageneration.hibernateDialect" />		
		<output>
			<filelist value="schemageneration" type="string" description="plugin.opendbcopy.schemageneration.conf.output.filelistIdentifier" />
		</output>			
	</conf>
	<threads>
		<thread thread_class="opendbcopy.plugin.schemageneration.GenerateHibernateMappingPlugin" description="title.plugin.opendbcopy.schemageneration" />
	</threads>
	<input />
	<output />
	<source_db>
      <driver />
      <metadata />
      <connection />
      <catalog value="" />
      <schema value="%" />
      <table_pattern value="%" />
      <model read_primary_keys="true" read_foreign_keys="true" read_indexes="true" />
   </source_db>
	<destination_db>
      <driver />
      <metadata />
      <connection />
      <catalog value="" />
      <schema value="%" />
      <table_pattern value="%" />
      <model />
   </destination_db>
   <mapping />
</plugin>
