<?xml version="1.0" encoding="UTF-8"?>

<!-- 
===============================================================
 Plugin to create Hibernate Mapping Files

 Copyright (C) 2003 Anthony Smith
===============================================================

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
=============================================================== 
-->

<plugin identifier="jsch" model_class="opendbcopy.plugin.model.simple.SimpleModel">
	<conf>
		<operation required="true" value="scp_to" type="string" description="plugin.opendbcopy.jsch.conf.operation" />
		<scp_to>			
			<!-- remote path must be absolute -->
			<remote_dir required="true" value="" type="string" description="plugin.opendbcopy.jsch.conf.remoteDir" />	
			<host required="true" value="" type="string" description="plugin.opendbcopy.jsch.conf.host" />
			<port required="true" value="" type="int" description="plugin.opendbcopy.jsch.conf.port" />
			<username required="true" value="" type="string" description="plugin.opendbcopy.jsch.conf.userName" />
			<password value="" type="string" description="plugin.opendbcopy.jsch.conf.password" />
			<input>
				<file_dir_filelists_selection required="true" value="file" type="file_dir_filelists_selection" description="plugin.opendbcopy.jsch.conf.input.selection" />
				<file value="" type="file" description="plugin.opendbcopy.jsch.conf.input.inputFile" />
				<dir value="" type="dir" description="plugin.opendbcopy.jsch.conf.input.inputDir" />
			</input>
			<output>
				<filelist value="jsch" type="string" description="plugin.opendbcopy.jsch.conf.output.filelistIdentifier" />
			</output>			
		</scp_to>
	</conf>
	<threads>
		<thread thread_class="opendbcopy.plugin.jsch.JschPlugin" description="title.plugin.opendbcopy.jsch" />
	</threads>
	<input />
	<output />
</plugin>
